# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog
*.idb
*.pdb
*.ilk
*.ifc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Directories
.vs
.tmp
.sqlite
logs

# Output Directories
300/x64
300/.vs
.vs
300/_APPLICATION/x64
300/_TOOLS/x64
300/_ENGINE/x64
MemoryLeak
*.log